body {
	font-family: Arial, Helvetica, sans-serif;
}

#top {
	border: 1px solid red;
	display: block;
	margin: 1rem;
	padding: 1rem;
}
#top .content {
	border: 1px solid orange;
	display: block;
	margin: 1rem;
	padding: 1rem;
}
.region-container {
	border: 1px solid blue;
	display: block;
	margin: 1rem;
	padding: 1rem;
}

#preloader {
	align-items: center;
	background: #fff;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
